/* Hide Scrollbar */
.sidebar-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.sidebar-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
/* Hide scrollbar but keep scrolling */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hide::-webkit-scrollbar{
display:none;
}

.scrollbar-hide{
-ms-overflow-style:none;
scrollbar-width:none;
}

